<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.schedule.dao.pg.PgTideMapper">
    <resultMap id="TideMap" type="nnu.edu.schedule.pojo.Tide">
        <result column="stcd" property="stationId"/>
        <result column="tm" property="time"/>
        <result column="tdz" property="tideValue"/>
    </resultMap>

    <insert id="insertValue">
        insert into tide values
        <foreach collection="tideList" item="item" separator=",">
            (#{item.stationId}, #{item.time}, #{item.tideValue})
        </foreach>
        on conflict (stcd, tm) do nothing
    </insert>

    <insert id="createTable">
        create table if not exists ${tableName}(
           stcd text,
           tm text,
           tdz real,
           primary key(stcd, tm)
        )
    </insert>

    <select id="selectAllDataByTime" resultMap="TideMap">
        select * from tide where tm &lt;= #{time}
    </select>

    <insert id="insertValueByTableName">
        insert into ${tableName} values
        <foreach collection="tideList" item="item" separator=",">
            (#{item.stationId}, #{item.time}, #{item.tideValue})
        </foreach>
        on conflict (stcd, tm) do nothing
    </insert>

    <delete id="deleteDataByTime">
        delete from tide where tm &lt;= #{time}
    </delete>
</mapper>